.header {
  margin-top: .5rem;
  padding-left: 10px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 3px 0 0 rgba(0,0,0,0.08);
  box-shadow: 0 3px 0 0 rgba(0,0,0,0.08);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  min-height: 61px;
  overflow: hidden;
  background: #1d1e1e;
  align-items: center;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;
}

.header ul li:hover {
  background-color: #444;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: white;
}

.header h3 a:hover {
  color: #00bc8c;
}


